In [1]:
import pandas as pd
import numpy as np

In [3]:
stocks_df = pd.read_csv('1_year_data.csv')

stocks_df.head(-5)

           Date       Open       High        Low      Close  Adj Close  Volume
0    2023-03-31  29.940001  30.540001  29.840000  30.520000  29.997280  130400
1    2023-04-03  30.480000  30.889999  29.900000  30.139999  29.623787  104400
2    2023-04-04  30.240000  30.240000  28.780001  29.090000  28.591768   84900
3    2023-04-05  29.090000  29.299999  28.290001  28.440001  27.952904  110500
4    2023-04-06  28.420000  28.680000  27.900000  28.590000  28.100334  128100
..          ...        ...        ...        ...        ...        ...     ...
240  2024-03-15  25.129999  25.830000  25.129999  25.580000  25.580000  185500
241  2024-03-18  25.520000  25.570000  25.150000  25.450001  25.450001   67700
242  2024-03-19  25.450001  26.010000  25.450001  25.980000  25.980000   72900
243  2024-03-20  25.980000  26.590000  25.780001  26.580000  26.580000  163600
244  2024-03-21  26.900000  27.059999  26.709999  26.799999  26.799999  130800

[245 rows x 7 columns]